*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../font/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../font/Poppins-Regular.ttf);
}
.link {
  padding-left: 5rem;
  text-align: center;
}
hr{
              border: #ffffff solid;
            color: #ffffff;
            margin-left: 20rem;
            margin-right: 20rem;
            margin-bottom: 2rem;
}
.par {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.background {
  background-color: rgb(23, 23, 51);
  padding: 1rem;
}
.classes {
  background-color: brown;
  padding: 1rem;
}
.available {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.section {
  text-align: center;
}
.fa-arrow-right {
  color: #fff;
  width: 2rem;
  transition: width 2s;
}
.fa-arrow-right:hover {
  padding-right: 2rem;
}
.error{
  background-color: rgb(0, 0, 24);
  padding-left: 2rem;
}
.btn {
  background-color: red;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
}
.untiled{
  width: 600px;
}
.btn a {
  color: #ffffff;
  text-decoration: none;
  transition: width;
}
.btn:hover {
  width: 12rem;
  background-color: rgb(90, 20, 20);
}
.cyberscurity{
padding-top: 6rem;
}
.arrows{
  display: flex;
}
.advance {
  color: #ffffff;
  font-size: 40px;
  font-family: Poppins-Bold;
}
.skill {
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins-Regular;
}
.nnew {
  color: #ffffff;
  font-size: 30px;
  font-family: Poppins-Bold;
  padding: 2rem;
  text-align: center;
}
.btn-tow {
  padding-left: 30rem;
  padding-bottom: 2rem;
}
.indivdual {
  background-color: black;
  border: #ffffff solid;
  padding: 0.5rem 2rem;
  color: #ffffff;
  border-radius: 3rem;
  margin-right: 2rem;
  font-family: Poppins-Bold;
}
.indivdual a {
  text-decoration: none;
  color: #ffffff;
}
.indivdual:hover {
  background-color: rgb(116, 19, 19);
}

.towsec {
  background-color: #000000;
}
.organization {
  background-color: black;
  border: #ffffff solid;
  padding: 0.5rem 2rem;
  color: #ffffff;
  border-radius: 3rem;
  font-family: Poppins-Bold;
}
.organization a {
  text-decoration: none;
  color: #ffffff;
}
.organization:hover {
  background-color: rgb(116, 19, 19);
}
.one-course {
  background-color: rgb(216, 6, 6);
  padding: 0.5rem 2rem;
  color: #ffffff;
  border-radius: 3rem;
  margin-right: 0.5rem;
  font-family: Poppins-Bold;
}
.courses {
  margin-left: 13rem;
  margin-bottom: 2rem;
}
.top-cor {
  margin-bottom: 2rem;
  margin-left: 4rem;
}
.organi {
  background-color: rgb(105, 102, 102);
  padding: 0.5rem 2rem;
  color: #ffffff;
  border-radius: 3rem;
  margin-right: 0.5rem;
  font-family: Poppins-Bold;
}
.organi:hover {
  background-color: rgb(116, 19, 19);
}
.security {
  color: #ffffff;
  font-size: 30px;
  font-family: Poppins-Bold;
  padding: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  text-align: center;
}
.bottm-cor {
  margin-left: 8rem;
}
.cards {
  padding-right: 5rem;
  padding-left: 10rem;
}
.upper {
  text-transform: uppercase;
  font-family: Poppins-Bold;
  color: #17a89c;
  text-align: center;
}
.upper:hover {
  color: #ffffff;
}
.caardd {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd:hover {
  background-color: rgb(2, 151, 156);
}
.caardd-2 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-3 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-4 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-5 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-6 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-7 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-8 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-9 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-10 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-11 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-12 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-13 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.caardd-14 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.caardd-15 {
  background-color: #000000;
  border: #0b5044 solid;
  border-width: 3px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.caardd-15:hover {
  background-color: rgb(2, 158, 248);
}
.caardd-14:hover {
  background-color: rgb(255, 60, 0);
}
.caardd-13:hover {
  background-color: rgba(73, 132, 199, 0.486);
}
.caardd-12:hover {
  background-color: rgb(0, 189, 132);
}
.caardd-11:hover {
  background-color: rgb(155, 255, 250);
}
.caardd-10:hover {
  background-color: rgb(255, 0, 170);
}
.caardd-9:hover {
  background-color: rgb(0, 255, 76);
}
.caardd-8:hover {
  background-color: blue;
}
.caardd-7:hover {
  background-color: rgb(255, 106, 0);
}
.caardd-6:hover {
  background-color: rgb(16, 248, 236);
}
.caardd-5:hover {
  background-color: rgb(131, 0, 131);
}
.caardd-4:hover {
  background-color: rgb(255, 255, 0);
}
.caardd-3:hover {
  background-color: rgb(226, 68, 68);
  color: #fff;
}
.caardd-2:hover {
  background-color: rgb(98, 138, 184);
}
.fa-head-side-brain {
  color: #ffffff;
}
.brinstotming {
  width: 10rem;
  padding-left: 5rem;
  color: #ffffff;
  padding-bottom: 1rem;
  transition: width;
}
.brinstotming:hover {
  width: 11rem;
}
.pen {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  padding-left: 5rem;
  text-decoration: underline rgb(2, 151, 156);
}
.ready {
  color: #ffffff;
  text-align: center;
  font-family: Poppins-Bold;
  font-size: 30px;
  padding-top: 3rem;
}
.prove {
  background-color: rgb(216, 6, 6);
  padding: 0.5rem 2rem;
  color: #ffffff;
  border-radius: 3rem;
  margin-left:35rem;
  margin-bottom: 3rem;
  font-family: Poppins-Bold;
}
.prove a {
  color: #ffffff;
  text-decoration: none;
}
.three {
  padding: 7rem;
}
.titles {
  text-align: center;
  color: #000000;

  font-family: Poppins-Regular;
}
.webinars {
  padding: 0.5rem 2rem;
  border: rgb(105, 6, 6) solid;
  border-radius: 3rem;
  margin-bottom: 3rem;
  font-family: Poppins-Regular;
  text-decoration: none;
  background-color: #ffffff;
  margin-left: 3rem;
}
.webinars:hover{
  background-color:rgb(105, 6, 6)  ;
}
.webinars a {
  text-decoration: none;
  color: rgb(105, 6, 6);
}
.webinars a:hover {

  color:#ffffff;
}
.source {
  font-family: Poppins-Bold;
  font-size: 30px;
  text-align: center;
  color: #000000;
  padding-top: 4rem;
}
.small-text {
  font-family: Poppins-Regular;
  font-size: 16px;
  text-align: center;
  color: #000000;
  padding-left: 17rem;
  padding-right: 17rem;
}
footer {
  background-color: #000000;
  padding: 5rem;
}
footer p {
  color: #ffffff;
}
footer p:hover {
  color: rgb(100, 16, 16);
}
.footer-one {
  padding-bottom: 2rem;
}
.register {
  padding: 0.5rem 2rem;
  border: #ffffff solid;
  border-radius: 3rem;
  margin-bottom: 3rem;
  color: #ffffff;
  font-family: Poppins-Regular;
  text-decoration: none;
  background-color: #000000;
}
.register a {
  text-decoration: none;
  color: #ffffff;
}
.pngqustion{
  width: 10rem;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pngqusion{
  width: 12rem;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hubs{
  padding-top: 4rem;
  width: 10rem;
}
.img-person{
  width: 30rem;
  /* position: absolute;
  bottom: -250rem; */
}
.logo{
  width: 10rem;
}
.social{
  width: 2rem;
}